:host{
  .container-filters{
    &::ng-deep .search-bar input{
      height: 100%;
      font-size: var(--font-size-3);
    }

    .left{
      width: 700px;
    }

    .right{
      gap: var(--gap-1);
    }

    .direction-container{
      align-self: flex-end;
    }
  }
}
